@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400&display=swap");
.pspace:before {
  display: block;
  content: "";
  height: 60px;
  margin: -40px 0 0;
}
.home {
	color: var(--text-color);
  padding: 0px 16px;
  min-height: 100%;
  margin-bottom: -50px;
  font-size: 0.9em;
}
.home h2 {
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-color);
}
